<html ng-app="app">
  <body>
    <h1>Hello, world!</h1>

 	<div ng-controller="MainController">
 	


 	<button ng-click="inc(1)">1</button>
 	<button ng-click="inc(2)">2</button>
 	<button ng-click="inc(3)">3</button><br>

 	<button ng-click="inc(4)">4</button>
 	<button ng-click="inc(5)">5</button>
 	<button ng-click="inc(6)">6</button><br>

 	<button ng-click="inc(7)">7</button>
 	<button ng-click="inc(8)">8</button>
 	<button ng-click="inc(9)">9</button><br>

 	<button ng-click="inc(0)">0</button><br>

 	<button ng-click="plus()">+</button>
 	<button ng-click="equals()">=</button><br>
 	{{val}} 



 	</div>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>